@import "../../../index.scss";

.opinionContainer {
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    display: flex;
    margin-bottom: 10px;

    &__text {
        width: 90%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }

    &__icon {
        display: flex;
        width: 10%;
        margin: 0 auto;
        font-size: 40px;
    }

    &--advantage {
        background-image: linear-gradient(to right,
                rgba(55, 180, 78, 0.9) 0%,
                rgba(49, 178, 91, 0.9) 24%,
                rgba(27, 171, 137, 0.96) 77%,
                rgba(21, 169, 151, 0.94) 100%);
    }

    &--disAdvantage {
        background-image: linear-gradient(to left,
                rgba(2, 0, 36, 1) 0%,
                rgba(231, 22, 22, 1) 100%);
    }

}