@import '../../index.scss';

.shoppingPanelContainer {
    height: 100vh;
    @include mainContainer();
    box-shadow: inset 0px 0px 100px 10px rgb(66, 224, 18);
}

.shoppingPanel {
    text-align: center;
    @include centerDiv();

    // &__select {
    //     margin-bottom: 20px;
    //     margin-top: 20px;
    // }

    &__buyItems {
        padding: 0 100px;
        margin-bottom: 30px;
    }

    &__delivery {
        padding: 0 160px;
    }

    &__title {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid black;

        &__icon {
            margin-left: 20px;
        }
    }

    &__shop {
        padding: 20px;
        border-radius: 20px;
    }

    &__subtitle {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    &__button {
        width: 60%;
        margin-top: 40px;
    }

}