.entryPoint__wrapper {
    width: 20%;
    height: 60px;
    margin-top: 20px;

    &--specificInfo {
        height: 120px;
    }
}

.entryPoint {
    display: flex;

    &__process {
        width: 70%;

        display: flex;

        &__number {
            width: 28%;
            text-align: center;

            &--active {
                color: #a2ff00;
            }
        }

        &__image {
            width: 72%;
            padding-right: 7px;
        }

        &:hover,
        &:focus {
            border-radius: 3px;
            box-shadow: 20px -20px 20px -5px rgba(245, 158, 114, 1);
            background: linear-gradient(45deg, rgba(239, 106, 76, 1) 0%, rgba(239, 106, 76, 1) 30%, rgba(245, 185, 155, 1) 88%, rgb(255, 255, 255) 100%);
            outline: none;
        }

        &--active {
            border-radius: 3px;
            box-shadow: 20px -20px 20px -5px rgba(245, 158, 114, 1);
            background: linear-gradient(45deg, rgba(239, 106, 76, 1) 0%, rgba(239, 106, 76, 1) 30%, rgba(245, 185, 155, 1) 88%, rgb(255, 255, 255) 100%);
        }
    }

    &__arrow {
        width: 30%;
        margin: 20px 0px;
        margin-left: 3px;
    }
}