.warningMessage {
    background-image: linear-gradient(to left,
            rgb(54, 5, 5) 0%,
            rgba(231, 22, 22, 1) 100%);
    width: 60%;
    color: #fff;
    display: flex;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    &__iconContainer {
        width: 20px;
        margin-right: 20px;
    }

    &__icon {
        width: 10%;
        margin: 0 auto;
        font-size: 30px;
    }

    &__text {
        width: 90%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }

}