@import '../../../index.scss';

.deskAnimation {
    height: 100vh;
}

.desk {
    @include centerDiv();

    &__title {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    &__head {
        border: 10px solid black;
        border-radius: 14px;
        padding: 20px;
        width: 60%;
        margin: 0 auto !important;
    }

    &__body {
        margin: auto;
    }

    &__image {
        width: 50%;
        margin: auto;
    }
}