@import '../../../index.scss';

.wareHouseAnimationContainer {
    height: 100vh;
}

.wareHouseAnimation {
    @include centerDiv();

    &__animation {
        &:hover {
            cursor: pointer;
        }
    }

    &__controls {

        &__buttons {
            text-align: center;
        }

        &__button {
            margin-right: 10px;
        }

        &__arrow {
            text-align: center;
            align-items: center;
        }
    }
}