.specificInfo {
    padding: 20px;

    &__description {
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid black;
    }

    &__guideDescription {
        margin-bottom: 10px;
        margin-top: 10px;

        &__tip {
            width: 100%;
        }
    }

    &__guide {
        display: flex;
        flex-wrap: wrap;
        background-color: #ef6a4c;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &__stageDescription {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding-bottom: 10px;

        &__title {
            width: 100%;
        }

        &__singleStage {
            width: 100%;

            &__title {
                width: 100%;
            }
        }
    }

    &__section {

        border-bottom: 1px solid black;
        padding-bottom: 10px;

        &__text {
            text-align: center;
            width: 100%;
        }

        &__opinion {
            margin-top: 10px;
            padding: 0;
        }
    }

    &__tableWrapper {
        text-align: center;
        margin-top: 10px;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }

    &__table {
        text-align: center;
        border-bottom: 1px solid black;
        margin-top: 10px;

        &__heading {

            &__item {
                padding: 2px 5px;
                background-color: #4CAF50;
                color: white;
                border: 1px solid #ddd;
            }
        }

        &__body {

            &__item {
                border: 1px solid #ddd;
                padding: 6px;
            }
        }
    }

    &__button {
        width: 80%;
        margin: 20px auto 0;
    }
}