@import '../../index.scss';

.summaryContainer {
    height: 100vh;
}

.summary {
    padding: 30px 0;
    @include centerDiv();

    &__title {
        border-bottom: 4px solid black;
        padding: 10px;
    }

    &__text {
        text-align: center;
        width: 100%;
    }

    &__icon {
        margin-left: 20px;
    }

    &__itemList {
        align-items: center;
        padding: 0 140px;
    }

    &__delivery {
        margin-top: 20px;
        padding: 0 160px;
        padding-bottom: 20px;
        border-bottom: 4px solid black;
    }

    &__buttons {

        margin-top: 50px;

        &__specificInfo {
            width: 100%;
            background: linear-gradient(to left, rgba(5, 0, 92, 1) 0%, rgba(22, 100, 231, 1) 100%);

            &:hover,
            &:focus {
                background: linear-gradient(to right, rgba(5, 0, 92, 1) 0%, rgba(22, 100, 231, 1) 100%);
            }
        }

        &__restart {
            width: 100%;
            background: linear-gradient(to right, rgba(5, 0, 92, 1) 0%, rgba(22, 100, 231, 1) 100%);

            &:hover,
            &:focus {
                background: linear-gradient(to left, rgba(5, 0, 92, 1) 0%, rgba(22, 100, 231, 1) 100%);
            }
        }


    }

}