@import '../../index.scss';

.welcomeBox {
    width: 700px;
    height: 400px;
    z-index: 200;
    background-color: $backgroundMainColor;
    box-shadow: 0px 0px 200px 5px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    &__content {
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;

        &__title {
            width: 100%;
            border-bottom: 4px solid black;
            padding-bottom: 5px;
        }

        &__subtitle {
            margin-top: 20px;
            border-bottom: 4px solid black;
            padding-bottom: 20px;
        }

        &__instructions {
            margin-top: 10px;
        }

        &__button {
            width: 100%;
            margin-top: auto;
            background-color: #F64649;
            border-color:#F64649;
            padding: 3px 12px;
            font-size: 20px;


            &:hover,
            &:focus {
                background-color: rgb(214, 56, 59);
                outline: none;
                box-shadow: 0 0 0 0.2rem #F64649;
                border-color:#F64649;
            }
        }
    }

    &__icon {
        width: 30%;
        display: flex;
    }

    &__deliveryMan {
        width: 80%;
        margin: 0 auto;
    }
}