@import '../../../index.scss';

.singlePanel {
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid $borderColor;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    @include centerDiv();

    &:hover,
    &:focus {
        @include hover;
    }

    &__image {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__button {
        margin-top: auto;
    }

    &__description {
        font-size: 17px;
    }
}