@import '../../index.scss';

.warehouseCheckContainer {
    height: 100vh;
}

.warehouseCheck {
    @include centerDiv();
    text-align: center;
    width: 80%;
    margin: 0 auto;

    &__title {
        margin-bottom: 30px;
    }

    &__nav {
        margin-top: 30px;
    }
}