@import '../../index.scss';

.item {
    border: 1px solid $borderColor;
    text-align: center;
    border-radius: 5px;

    &:not(&--disable):hover,
    &:not(&--disable):focus {
        @include hover;
    }

    &--active {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.6);
    }

    &__image {
        width: 80%;
        margin: auto;
        padding: 5px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 25px;
    }
}