@import '../../../index.scss';

.guideBox {
    width: 600px;
    background-color: rgba(239, 106, 76, 0.95) !important;
    position: fixed;
    // opacity: 0.95;
    left: 0;
    bottom: 0;
    z-index: 2;
    border-top-right-radius: 20px;
    padding: 20px;
    color: white;

    &__header {
        display: flex;
        border-bottom: 1px solid white;
    }

    &__title {
        margin-left: auto;
    }

    &__infoIcon {
        margin-left: auto;
        font-size: 34px;

        &:hover,
        &:focus {
            color: #7FDBFF;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &:hover {
        cursor: pointer;
    }

    &__button {
        height: 240px;
        width: 50px;
        background-color: #ef6a4c;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 2;
        border: 0;

        &:hover,
        &:focus {
            background-color: #f59e72;
            outline: none;
        }
    }

    &__icon {
        color: white;
    }
}