@import '../../../index.scss';

.arrow {
    position: fixed;
    height: 100vh;
    width: 50px;
    background-color: #A6A6A6;
    z-index: 1;
    text-align: center;

    &:hover,
    &:focus {
        cursor: pointer;
        outline: none;
        background: #bb9b9b
    }

    &--right {
        right: 0;
    }

    &__icon {
        color: $mainColor;
        font-size: 40px;
        @include centerDiv();
    }
}