@import '../../../index.scss';

.messageBox {
    height: 150px;
    width: 500px;
    background-color: rgba(0, 166, 81, 0.85) !important;
    position: fixed;
    // opacity: 0.85;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-top-left-radius: 20px;
    padding: 20px;
    color: white;

    &__title {
        margin-bottom: 6px;
    }

    &__description {
        font-size: 15px;
    }

    &:hover {
        cursor: pointer;
    }

    &__button {
        height: 150px;
        width: 50px;
        background-color: $mainColor;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 2;
        border: 0;

        &:hover,
        &:focus {
            background-color: $lightMainColor;
            outline: none;
        }
    }

    &__icon {
        color: white;
    }
}