@import '~bootstrap/scss/bootstrap.scss';

$backgroundMainColor:rgb(240, 240, 240);
$timeDuration: 0.4s;
$borderColor: rgba(131, 131, 131, 0.6);
$lessImportantColor: #a0a0a0;
$aplicationBackgroundColor:rgb(240, 240, 240);
$mainColor : #00a651;
$lightMainColor:#11a762;
$oppositeColor: #0072bc;

body {
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
}

@mixin hover () {
  cursor: pointer;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.85);
  outline: none;
}

@mixin centerDiv () {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin mainContainer () {
  background-color: $backgroundMainColor;
  border-radius: 5px;
}